<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Confirm email | Askit</title>
    <!--Common header-->
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
<!--Side bar-->
<div th:replace="fragments/sidebar :: sidebar"></div>
<div class="pusher">
    <!--Top Bar-->
    <div th:replace="fragments/topbar :: topbar"></div>
    <!--Page Title-->
    <div class="ui section divider"></div>
    <div class="ui masthead vertical segment">
        <div class="ui container">
            <div class="introduction">
                <h1 class="ui header">
                    Email confirmation
                </h1>
            </div>
        </div>
    </div>
    <!--Page Content-->
    <div class="ui vertical basic very padded segment">
        <div class="ui container">
            <!--Message-->
            <div class="ui doubling stackable grid">
                <div class="row">
                    <div class="sixteen wide column">
                        <div th:replace="fragments/sticky-message :: message"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>