<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Questions | Askit</title>
    <!--Common header-->
    <div th:replace="fragments/header :: header"></div>
    <!--Local CSS/JS-->
    <script th:src="@{/js/init-accordion.js}"></script>
    <script th:src="@{/js/init-dropdown.js}"></script>
    <script th:src="@{/js/init-popup.js}"></script>
    <script th:src="@{/js/questions.js}"></script>
</head>
<body>
<!--Side bar-->
<div th:replace="fragments/sidebar :: sidebar"></div>
<div class="pusher">
    <!--Top Bar-->
    <div th:replace="fragments/topbar :: topbar"></div>
    <!--Page Title-->
    <div class="ui section divider"></div>
    <div class="ui masthead vertical segment">
        <div class="ui container">
            <div class="introduction">
                <h1 class="ui header">
                    <span th:text="'Questions (' + ${questionWrapper.totalItems} + ')'"></span>
                    <div class="sub header">
                        <div class="ui breadcrumb">
                            <div class="ui breadcrumb">
                                <a class="section" th:href="@{/home}"><b>Home</b></a>
                                <i class="right chevron icon divider"></i>
                                <div class="active section">Questions</div>
                            </div>
                        </div>
                    </div>
                </h1>
            </div>
        </div>
    </div>
    <!--Page Content-->
    <div class="ui vertical basic very padded segment">
        <div class="ui container">
            <div class="ui doubling stackable grid">
                <!--Filters-->
                <div class="row">
                    <div class="sixteen wide column">
                        <div class="ui styled fluid accordion">
                            <div class="title">
                                <i class="filter blue icon"></i>
                                Filter results
                            </div>
                            <div class="content">
                                <form method="GET" th:action="@{/home/questions}">
                                    <div class="ui doubling stackable grid">
                                        <!--Search-->
                                        <div class="row">
                                            <div class="sixteen wide column">
                                                <div class="ui form">
                                                    <div class="field">
                                                        <label>Search</label>
                                                        <div class="ui fluid icon input">
                                                            <i class="search blue icon"></i>
                                                            <input name="search" placeholder="Search..." th:value="${search}"
                                                                   type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!--Category-->
                                            <div class="four wide column">
                                                <div class="ui form">
                                                    <div class="field">
                                                        <label>Category</label>
                                                        <div class="ui selection fluid clearable dropdown">
                                                            <i class="th teal icon"></i>
                                                            <input name="category" th:value="${category}" type="hidden">
                                                            <div class="default text">Select Category</div>
                                                            <div class="ui menu">
                                                                <th:block th:each="instance : ${categoryWrapper.content}">
                                                                    <!--Category-->
                                                                    <div class="item" th:text="${instance.title}"></div>
                                                                </th:block>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Sort by-->
                                            <div class="four wide column">
                                                <div class="ui form">
                                                    <div class="field">
                                                        <label>Sort by</label>
                                                        <div class="ui selection fluid dropdown">
                                                            <i class="sort amount up blue icon"></i>
                                                            <input name="sortBy" th:value="${sortBy}" type="hidden">
                                                            <div class="default text">Sort by</div>
                                                            <div class="ui menu">
                                                                <div class="item" data-value="newest">Newest</div>
                                                                <div class="item" data-value="oldest">Oldest</div>
                                                                <div class="item" data-value="mostvotes">Most votes</div>
                                                                <div class="item" data-value="leastvotes">Least votes</div>
                                                                <div class="item" data-value="mostanswers">Most answers</div>
                                                                <div class="item" data-value="leastanswers">Least answers</div>
                                                                <div class="item" data-value="atoz">Title A to Z</div>
                                                                <div class="item" data-value="ztoa">Title Z to A</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!--Size-->
                                            <div class="eight wide middle aligned column">
                                                <div class="header">
                                                    <div class="content">
                                                        <i class="list ul blue icon"></i>
                                                        Show
                                                        <div class="ui inline dropdown">
                                                            <input name="size" th:value="${size}" type="hidden">
                                                            <div class="text">5</div>
                                                            <i class="dropdown icon"></i>
                                                            <div class="ui menu">
                                                                <div class="item">10</div>
                                                                <div class="item">25</div>
                                                                <div class="item">50</div>
                                                                <div class="item">100</div>
                                                            </div>
                                                        </div>
                                                        items/page
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Apply filters-->
                                            <div class="eight wide column">
                                                <button class="ui right floated blue button"
                                                        type="submit">
                                                    Apply
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--No results-->
                <div class="row" th:if="${questionWrapper.totalItems} == 0">
                    <div class="sixteen wide column">
                        <div class="ui info message">
                            <div class="header">
                                No results found
                            </div>
                        </div>
                    </div>
                </div>
                <!--Results-->
                <div class="row" th:each="instance : ${questionWrapper.content}" th:unless="${questionWrapper.totalItems} == 0">
                    <div class="sixteen wide column">
                        <!--Details-->
                        <div class="ui top attached borderless stackable menu">
                            <!--Category-->
                            <div class="header item">
                                <i class="th teal icon"></i>
                                <a target="_blank"
                                   th:href="@{'/home/questions?category=' + ${categoryMap.get(instance.categoryId).title.toLowerCase()}}"
                                   th:utext="${categoryMap.get(instance.categoryId).title}"></a>
                            </div>
                            <!--User-->
                            <div class="header item">
                                <i class="user circle blue icon"></i>
                                <a target="_blank"
                                   th:href="@{'/home/profile/' + ${instance.userId}}"
                                   th:text="${userMap.get(instance.userId).username}"></a>
                            </div>
                            <!--Relative time-->
                            <div class="header item" th:data-content="${instance.createdDate.toLocaleString()}">
                                <i class="clock blue icon"></i>
                                <span class="raw-date"
                                      th:text="${instance.createdDate}"></span>
                            </div>
                        </div>
                        <!--Title-->
                        <div class="ui attached segment">
                            <div class="ui items">
                                <div class="item">
                                    <div class="middle aligned content">
                                        <div class="header">
                                            <!--Title-->
                                            <i class="small linkify disabled blue icon"></i>
                                            <a class="header"
                                               target="_blank"
                                               th:href="@{'/home/questions/' + ${instance.id}}"
                                               th:text="${instance.subject}"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Statistics-->
                        <div class="ui bottom attached borderless stackable menu">
                            <div class="header item">
                                <i class="thumbs up blue icon"></i>
                                <span th:text="${instance.questionStatistics.votes} + ' votes'"></span>
                            </div>
                            <div class="header item">
                                <i class="check circle green icon"></i>
                                <span th:text="${instance.questionStatistics.answers} + ' answers'"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Pagination-->
                <div class="row" th:unless="${questionWrapper.totalItems} == 0">
                    <div class="sixteen wide column">
                        <div class="ui center aligned container">
                            <div class="ui nine item pagination borderless menu">
                                <!--First Page-->
                                <a th:class="'ui item page btn' + ${questionWrapper.currentPage != 0 ? '' : ' disabled'}"
                                   th:href="${urlBuilder.replaceQueryParam('page', 1).toUriString()}"
                                   th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
                                    <i class="double angle left icon"></i>
                                </a>
                                <!--Previous Page-->
                                <a th:class="'ui item page btn' + ${questionWrapper.currentPage != 0 ? '' : ' disabled'}"
                                   th:href="${urlBuilder.replaceQueryParam('page', questionWrapper.currentPage).toUriString()}"
                                   th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
                                    <i class="angle left icon"></i>
                                </a>
                                <!--Numbered Pages-->
                                <th:block th:each="instance : ${pagination}">
                                    <a th:class="'ui item' + ${instance == questionWrapper.currentPage  ? ' active' : ''} + ' page btn'"
                                       th:href="${urlBuilder.replaceQueryParam('page', instance + 1).toUriString()}"
                                       th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
                                        <span th:text="${instance + 1}"></span>
                                    </a>
                                </th:block>
                                <!--Next Page-->
                                <a th:class="'ui item page btn' + ${questionWrapper.currentPage + 1 < questionWrapper.totalPages ? '' : ' disabled'}"
                                   th:href="${urlBuilder.replaceQueryParam('page', questionWrapper.currentPage + 2).toUriString()}"
                                   th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
                                    <i class="angle right icon"></i>
                                </a>
                                <!--Last Page-->
                                <a th:class="'ui item page btn' + ${questionWrapper.currentPage + 1 < questionWrapper.totalPages ? '' : ' disabled'}"
                                   th:href="${urlBuilder.replaceQueryParam('page', questionWrapper.totalPages).toUriString()}"
                                   th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
                                    <i class="double angle right icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui hidden section divider"></div>
                <!--Warning message-->
                <div class="row" th:if="${session.user} == null" th:unless="${questionWrapper.totalItems} == 0">
                    <div class="sixteen wide column">
                        <div class="ui warning message">
                            <div class="header">
                                You must be logged in to ask a question
                            </div>
                            <div class="ui divider"></div>
                            <li>Login <a th:href="@{/login}">here</a> if you have an account</li>
                            <li>Register <a th:href="@{/register}">here</a> if you don't have an account</li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>