<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reset password | Askit</title>
    <!--Common header-->
    <div th:replace="fragments/header :: header"></div>
    <script th:src="@{/js/close-message.js}"></script>
    <script th:src="@{/js/init-accordion.js}"></script>
</head>
<body>
<!--Side bar-->
<div th:replace="fragments/sidebar :: sidebar"></div>
<div class="pusher">
    <!--Top Bar-->
    <div th:replace="fragments/topbar :: topbar"></div>
    <!--Page Title-->
    <div class="ui section divider"></div>
    <div class="ui masthead vertical segment">
        <div class="ui container">
            <div class="introduction">
                <h1 class="ui header">
                    <span>Reset password</span>
                </h1>
            </div>
        </div>
    </div>
    <!--Page Content-->
    <div class="ui vertical basic very padded segment">
        <div class="ui container">
            <div class="ui doubling stackable grid">
                <!--Message-->
                <div class="row" th:unless="${messageModel == null}">
                    <div class="eight wide wide column">
                        <div th:replace="fragments/message :: message"></div>
                    </div>
                </div>
                <!--Form-->
                <div class="row">
                    <div class="eight wide column">
                        <div class="ui blue top attached segment">
                            <!--Tips-->
                            <div class="ui accordion">
                                <div class="title">
                                    <i class="dropdown icon"></i>
                                    Informative tips
                                </div>
                                <div class="content">
                                    <div class="ui list">
                                        <div class="item">
                                            <div class="ui blue label">New Password</div>
                                            <span>should be at least 8 characters long for security reasons</span>
                                        </div>
                                        <div class="item">
                                            <div class="ui blue label">Confirm New Password</div>
                                            <span>should be the same as</span>
                                            <div class="ui blue label">New Password</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui bottom attached segment">
                            <form method="POST" th:action="@{/reset-password/process-form}">
                                <input name="key"
                                       th:value="${resetPasswordModel.key}"
                                       type="hidden">
                                <div class="ui grid">
                                    <!--Password-->
                                    <div class="row">
                                        <div class="sixteen wide column">
                                            <div class="ui form">
                                                <div class="required field">
                                                    <label>New Password</label>
                                                    <div class="ui left icon input">
                                                        <input name="password"
                                                               placeholder="Password"
                                                               required
                                                               type="password">
                                                        <i class="lock blue icon"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Confirm Password-->
                                    <div class="row">
                                        <div class="sixteen wide column">
                                            <div class="ui form">
                                                <div class="required field">
                                                    <label>Confirm New Password</label>
                                                    <div class="ui left icon input">
                                                        <input name="confirmedPassword"
                                                               placeholder="Confirm Password"
                                                               required
                                                               type="password">
                                                        <i class="lock blue icon"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Submit-->
                                    <div class="row">
                                        <div class="sixteen wide column">
                                            <button class="ui right floated blue button" name="submit" type="submit">
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>